# Android junk
*.apk
*.ap_
*.dex
*.class
src/android_client/bin/
src/android_client/gen/
src/android_client/local.properties

# Binaries
bin/alsa-server
bin/alsa-client

# OS junk
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
